// variable 

$c1-50: #fff;
$c1-100: #f5f9fe;
$c1-200: #e2ebfc;
$c1-300: #60a4f4;
$c1-500: #2a73dd;
$c1-700: #1d365e;

$text-xs: 14px;
$text-base: 16px;
$text-sm: 18px;
$text-md: 20px;
$text-lg: 25px;
$text-xl: 30px;
$text-2xl: 40px;
$text-3xl: 50px;

$text-light: 300;
$text-regular: 400;
$text-semiBold: 600;
$text-bold: 700;

$MD: 768px;
$LG: 1024px;
$XL: 1280px;
